/* Hintergrundfarbe der gesamten Seite */
body {
    margin: 0;
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
}

/* Inhalt-Zentrierung */
#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Tabelle */
table {
    border-collapse: collapse; /* Verhindert äußere Linien */
    border: none; /* Entfernt den äußeren Rand der Tabelle */
    width: auto; /* Passt die Breite der Tabelle an den Inhalt an */
}

/* Tabellenzellen und -reihen */
table td, table th {
    border: 5px solid white; /* Weiße Linien innerhalb der Tabelle */
    text-align: center;
    vertical-align: middle;
}

/* Optional: Stil für die Kopfzeile */
table th {
    background-color: #444; /* Optionaler Hintergrund für die Kopfzeile */
    color: white; /* Schriftfarbe für die Kopfzeile */
    padding: 10px; /* Polsterung für die Kopfzeile */
}

/* Optional: Stil für die Zellen */
table td {
    background-color: #555; /* Optionaler Hintergrund für die Zellen */
    color: white; /* Schriftfarbe für die Zellen */
    padding: 10px; /* Polsterung für die Zellen */
    width: 60px; /* Festgelegte Breite */
    height: 60px; /* Festgelegte Höhe */
    font-size: 2em; /* Schriftgröße */
}

/* Entfernt äußere Ränder der Tabelle */
table tr:first-child td {
    border-top: none;
}

table tr:last-child td {
    border-bottom: none;
}

table tr td:first-child {
    border-left: none;
}

table tr td:last-child {
    border-right: none;
}
h1{
    text-align: center;
    color: white;
}